@font-face {font-family: "OpenSans Regular";src: url("../fonts/OpenSansRegular.ttf");}
@font-face {font-family: "OpenSans Semibold";src: url("../fonts/OpenSansSemiBold.ttf");}
/* general rules */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "OpenSans Semibold", sans-serif;
    color: #5d5147;
}

button, input[type="submit"] {
    cursor: pointer;
}

a, a:hover, a:active, button::-moz-focus-inner, button, button:hover, button:active, input, input:hover, input:active {
    outline: none;
    border: none;
}

.form-field::-webkit-input-placeholder {font-size: 24px;color: #333333;opacity: 1;}
.form-field::-moz-placeholder {font-size: 24px;color: #333333;opacity: 1;}
.form-field:-moz-placeholder {font-size: 24px;color: #333333;opacity: 1;}
.form-field:-ms-input-placeholder {font-size: 24px;color: #333333;opacity: 1;}
.form-field:focus::-webkit-input-placeholder {color: transparent;}
.form-field:focus::-moz-placeholder {color: transparent;}
.form-field:focus:-moz-placeholder {color: transparent;}
.form-field:focus:-ms-input-placeholder {color: transparent;}

.clearfix {clear: both;}

ul li {display: inline-block;}

.text-brown {color: #be793e;}
.text-grey {color: #999999;}
.text-white {color: #ffffff;}
.text-thin {font-family: "OpenSans Regular", sans-serif;font-weight: 100;}
.text-ultra-small {font-size: 12px;}
.text-small {font-size: 18px;}
.text {font-size: 24px;}
h3 {font-size: 30px;}
h2 {
    display: inline-block;
    margin: 35px 0;
    font-size: 36px;
    letter-spacing: -2px;
    line-height: 1;
}
h1 {
    display: block;
    font-size: 43px;
    letter-spacing: -2px;
    line-height: 1.5;
    margin-bottom: 5px;
}

.sub-title {
    display: block;
    text-transform: uppercase;
    margin: 0 auto;
    width: 100%;
    padding: 20px 0;
    background: #be793e;
    letter-spacing: 0;
}

.logo {
    display: block;
    width: 175px;
    height: 44px;
}

.block-content {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    text-align: center;
    padding: 35px 0;
}

.phone-block {
    display: inline-block;
    width: 300px;
    height: 80px;
    text-align: center;
}
.phone-block .phone-number {
    line-height: 35px;
    height: 35px;
    margin: 5px 0 0 0;
    width: 100%;
    text-align: center;
    vertical-align: top;
}
.phone-block .phone-number span {
    display: inline-block;
    vertical-align: top;
    font-size: 24px;
    color: #ffffff;
    line-height: 30px;
    margin-right: 5px;
}
.phone-block .icon-phone {
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
}
.callback {
    line-height: 35px;
    height: 35px;
}

/* form */
form {
    width: 400px;
    background: rgba(93, 81, 71, 0.7);
    text-align: center;
    padding: 35px 0 30px;
}
form h3 {
    display: inline-block;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    width: 85%;
    margin: auto;
    letter-spacing: 0;
}
.form-field-wrap {
    display: block;
    width: 85%;
    height: 60px;
    margin: 35px auto 0;
}
.form-field {
    width: 100%;
    height: 100%;
    background: #ffffff;
    padding-left: 35px;
    font-size: 24px;
}
.button-submit {
    width: 83%;
    height: 60px;
    margin: 35px auto 0;
    background: #be413e;
    border: 3px solid #ffffff;
    outline: 5px solid #be413e;
    color: #ffffff;
    font-size: 30px;
}
.button-submit:active {
    background: #702724;
}

/* header */
.header {
    background: url('../images/background-room.jpg') no-repeat center;
    background-size: cover;
}
.header-top {
    margin: 0 auto 35px;
    text-align: left;
}
.header-top .empty-block {
    display: inline-block;
    width: 5%;
    height: 80px;
    background: #be793e;
    vertical-align: middle;
}
.logo-block {
    display: inline-block;
    width: 30%;
    min-width: 200px;
    height: 70px;
    background: rgba(93, 81, 71, 0.9);
    vertical-align: middle;
}
.header-top .logo {
    margin: 13px auto 13px;
    background: url('../images/sprite-logo.png') no-repeat right center;
    background-size: cover;
}
.header-top-right {
    display: inline-block;
    width: 65%;
    height: 80px;
    background: #be793e;
    vertical-align: middle;
}
nav {
    display: inline-block;
    width: 60.9375%;
    vertical-align: middle;
}
nav ul {
    width: 100%;
    height: 80px;
    text-align: center;
}
nav ul li {
    margin: 0 2.5%;
}
nav ul li a {
    height: 80px;
    line-height: 80px;
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline;
}
.header-top .phone-block {
    vertical-align: middle;
}
.header .icon-phone {
    background: url('../images/icon-phone.png') no-repeat center;
    background-size: cover;
}

.header-middle {
    display: inline-block;
    width: 90%;
    height: auto;
    background: rgba(93, 81, 71, 0.9);
    vertical-align: middle;
    position: relative;
    padding: 10px 0 25px;
}
.header .empty-block-left, .header .empty-block-right {
    display: block;
    width: 2%;
    height: 115%;
    background: #be793e;
    position: absolute;
    top: -7.5%;
    left: -2%;
}
.header .empty-block-right {
    left: auto;
    right: -2%;
}
.header-middle h3 {
    display: inline-block;
    width: auto;
    margin: 0 5px;
    letter-spacing: -2px;
}
.header form {
    margin: 35px 25px 0 0;
    float: right;
}
/* choice-parameters */
.styles, .furniture, .guarantee ul, .why-we ul, .what-later ul {
    margin: 20px 0;
}
.parameters {
    margin: 20px 0 50px;
}
.parameters li {
    display: inline-block;
    width: 200px;
    height: 100px;
    line-height: 1.2;
    vertical-align: middle;
    text-transform: uppercase;
    border: 3px solid rgba(93, 81, 71, 0.8);
    position: relative;
    margin-right: 70px;
    margin-bottom: 25px;
    font-size: 14px;
    padding-top: 13px;
}
.parameters li:nth-child(3) {padding-top: 20px;}
.parameters li:last-child {
    margin-right: 0;
}
.left-square, .right-square {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background: #ffffff;
    z-index: 1;
    left: -10px;
    bottom: -10px;
}
.right-square {
    left: auto;
    bottom: auto;
    top: -10px;
    right: -10px;
}
.parameters li:after {
    display: inline-block;
    content: '';
    height: 20px;
    width: 20px;
    background: #be793e;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    right: -50px;
    top: 42px;
}
.parameters li:last-child:after {
    display: none;
}
/* choice-styles */
.choice-styles, .cabinet-furniture {
    padding-bottom: 0;
}
.styles li {
    width: 400px;
    height: 300px;
    margin: 0 20px 20px;
    position: relative;
}
.styles li:nth-child(1) {background: url('../images/room-fusion.jpg') no-repeat center; background-size: cover;}
.styles li:nth-child(2) {background: url('../images/room-kitch.jpg') no-repeat center; background-size: cover;}
.styles li:nth-child(3) {background: url('../images/room-loft.jpg') no-repeat center; background-size: cover;}
.styles li:nth-child(4) {background: url('../images/room-art-deco.jpg') no-repeat center; background-size: cover;}
.styles li:nth-child(5) {background: url('../images/room-provans.jpg') no-repeat center; background-size: cover;}
.styles li:nth-child(6) {background: url('../images/room-romantic.jpg') no-repeat center; background-size: cover;}
.choice-styles h3 {
    margin-bottom: 35px;
}
/* cabinet-furniture */
.cabinet-furniture {
    background: url('../images/background-middle.jpg') no-repeat center;
    background-size: cover;
}
.furniture {
    margin-bottom: 0;
}
.furniture li {
    width: 250px;
    margin: 0 75px;
}
.furniture .text {
    text-transform: uppercase;
    margin-bottom: 20px;
}
.furniture .image-furniture {
    width: 250px;
    height: 250px;
}
.furniture li:nth-child(1) .image-furniture {background: url('../images/kitchen.png') no-repeat center; background-size: cover;}
.furniture li:nth-child(2) .image-furniture {background: url('../images/closet.png') no-repeat center; background-size: cover;}
.furniture li:nth-child(3) .image-furniture {background: url('../images/library.png') no-repeat center; background-size: cover;}

.we-organize-block {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    background: #ffffff;
    margin: 50px 0;
    padding: 35px 0 33px 10%;
    text-align: left;
    height: 385px;
}
.we-organize-block h2 {
    margin: 0 0 20px -50px;
}
.we-organize {
    width: 100%;
    vertical-align: top;
    margin: 20px 0 40px;
}
.we-organize li {
    display: block;
    text-align: left;
    position: relative;
    margin-bottom: 10px;
}
.we-organize li:before {
    content: '';
    height: 20px;
    width: 20px;
    background: #be793e;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    left: -50px;
    top: 12px;
}
.we-organize h3 {
    font-weight: 100;
}
.cabinet-furniture form {
    display: inline-block;
    vertical-align: top;
    margin: 50px 0;
    height: 385px;
}
.cabinet-furniture .form-field-wrap {
    margin: 20px auto 0;
}
/* guarantee */
.guarantee ul {
    margin: 20px 0;
}
.guarantee ul li {
    width: 320px;
    margin: 0 40px;
    vertical-align: top;
}
.guarantee ul li:nth-child(1) .image-guarantee {background: url('../images/icon-price.png') no-repeat center; background-size: cover;}
.guarantee ul li:nth-child(2) .image-guarantee {background: url('../images/icon-quality-guarantee.png') no-repeat center; background-size: cover;}
.guarantee ul li:nth-child(3) .image-guarantee {background: url('../images/icon-service-guarantee.png') no-repeat center; background-size: cover;}
.image-guarantee {
    width: 200px;
    height: 200px;
    margin: 0 auto 15px;
}
.guarantee .title {
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: 600;
    letter-spacing: -2px;
    line-height: 1.2;
}
.guarantee .text-small {
    font-size: 16px;
}

/* why-we */
.why-we {
    background: #e2e6e9;
}
.why-we ul li {
    width: 360px;
    margin: 0 25px;
    vertical-align: top;
    text-align: left;
}
.why-we ul li:last-child {
    width: 380px;
}
.why-we .text-small {
    font-size: 16px;
}

/* what-later */
.what-later {
    padding-bottom: 185px;
}
.what-later ul li {
    width: 250px;
    margin: 0 8px;
    position: relative;
}
.image-arrow {
    display: block;
    width: 80px;
    height: 65px;
    background: url('../images/sprite-arrows.png') no-repeat left center;
    background-size: cover;
    position: absolute;
    top: 80px;
    right: -80px;
}
.what-later ul li:nth-child(2), .what-later ul li:nth-child(4) {
    top: 150px;
}
.what-later ul li:nth-child(2) .image-arrow, .what-later ul li:nth-child(4) .image-arrow {
    width: 90px;
    top: -70px;
    right: -30px;
    background: url('../images/sprite-arrows.png') no-repeat right center;
    background-size: cover;
}
.image-what-later {
    width: 200px;
    height: 201px;
    margin: 0 auto 10px;
    position: relative;
}
.image-what-later p {
    display: block;
    width: 160px;
    height: 50px;
    background: rgba(93, 81, 71, 0.8);
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 16px;
    color: #ffffff;
    line-height: 20px;
    padding: 5px 0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.what-later li:nth-child(4) .image-what-later p {
    padding: 0;
    line-height: 50px;
}
.what-later ul li:nth-child(1) .image-what-later {background: url('../images/estimation.png') no-repeat center; background-size: cover;}
.what-later ul li:nth-child(2) .image-what-later {background: url('../images/contract.png') no-repeat center; background-size: cover;}
.what-later ul li:nth-child(3) .image-what-later {background: url('../images/calendar.png') no-repeat center; background-size: cover;}
.what-later ul li:nth-child(4) .image-what-later {background: url('../images/control.png') no-repeat center; background-size: cover;}
.what-later ul li:nth-child(5) .image-what-later {background: url('../images/cargo.png') no-repeat center; background-size: cover;}
/* questions */
.questions {
    text-align: left;
    background: url('../images/very-clever-girl.png') no-repeat right bottom;
    background-size: 781px 587px;
}
.questions h2 {
    letter-spacing: 0;
    margin-left: 3%;
}
.questions ol {
    display: block;
    width: 50%;
    margin-left: 4%;
}
.questions ol li {
    list-style-position: outside;
    margin-bottom: 15px;
}
.questions .question {
    margin-bottom: 5px;
    line-height: 1.2;
}
.answer {
    line-height: 1.2;
}
/* reviews */
.reviews {
    padding: 35px 0;
    background: #e2e6e9;
    overflow-x: hidden;
}
.reviews ul li {
    display: block;
    text-align: left;
    margin: 40px auto;
    width: 1081px;
}
.reviews ul li:nth-child(2) {
    text-align: right;
}
.image-reviewer {
    display: inline-block;
    vertical-align: top;
    width: 151px;
    height: 151px;
    position: relative;
}
.reviews ul li:nth-child(1) .image-reviewer {background: url('../images/photo-reviewer-1.png') no-repeat center; background-size: cover;}
.reviews ul li:nth-child(2) .image-reviewer {background: url('../images/photo-reviewer-3.png') no-repeat center; background-size: cover;}
.reviews ul li:nth-child(3) .image-reviewer {background: url('../images/photo-reviewer-2.png') no-repeat center; background-size: cover;}
.image-reviewer .reviewer-name {
    width: 150%;
    height: 20px;
    line-height: 20px;
    position: absolute;
    left: 0;
    bottom: -20px;
    text-align: left;
}
.image-reviewer:before {
    display: block;
    content: '';
    width: 20px;
    height: 20px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: #be793e;
    position: relative;
    left: 165px;
    top: 65px;
}
.reviews ul li:nth-child(2) .image-reviewer:before {
    left: -35px;
}
.review {
    display: inline-block;
    padding: 30px 20px;
    vertical-align: top;
    width: 675px;
    height: 151px;
    margin-left: 50px;
    font-size: 20px;
    border: 3px solid rgba(255, 255, 255, 1);
    position: relative;
    text-align: left;
}
.reviews ul li:nth-child(1) .review {
    padding: 15px 20px;
}
.reviews ul li:nth-child(2) .image-reviewer {
    float: right;
}
.reviews ul li:nth-child(2) .reviewer-name {
    text-align: center;
    width: 100%;
}
.reviews ul li:nth-child(2) .review {
    margin-left: 0;
    margin-right: 50px;
}
.review .left-square, .review .right-square {
    background: #e2e6e9;
    width: 30px;
    height: 30px;
    left: -15px;
    bottom: -15px;
}
.review .right-square {
    left: auto;
    bottom: auto;
    top: -15px;
    right: -15px;
}

/* contacts */
.services-block {
    display: inline-block;
    width: 650px;
    vertical-align: top;
    margin: 0 10px 50px;
}
.services-block>h3 {
    margin: 0 0 10px;
    text-align: left;
}
.our-services, .our-services-individual {
    width: 450px;
    text-align: left;
}
.our-services li, .our-services-individual li {
    width: 100%;
    vertical-align: top;
    margin-bottom: 5px;
    position: relative;
}
.our-services li:before, .our-services-individual li:before {
    content: '';
    height: 20px;
    width: 20px;
    background: #be793e;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    left: -30px;
    top: 12px;
}
.individual-title {
    padding-left: 150px;
    padding-top: 15px;
}
.our-services-individual {
    margin-left: 150px;
}
.contacts form {
    display: inline-block;
    vertical-align: top;
}
.contacts .sub-title {
    margin-bottom: 50px;
}

/*   footer */
.footer {
    background: #be793e;
    padding: 50px 0;
}
.our-contacts {
    display: inline-block;
    vertical-align: middle;
    width: 500px;
    text-align: left;
    border: 3px solid rgba(255, 255, 255, 0.7);
    position: relative;
    padding: 30px 0;
}
.our-contacts li {
    width: 100%;
    margin-bottom: 35px;
    position: relative;
}
.our-contacts li:nth-child(5) {
    margin-bottom: 0;
}
.our-contacts .image-icon {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
}
.our-contacts li:nth-child(2) .image-icon {background: url('../images/icon-phone.png') no-repeat center; background-size: cover;}
.our-contacts li:nth-child(3) .image-icon {width:39px;height:30px;background: url('../images/icon-mail.png') no-repeat center; background-size: cover;}
.our-contacts li:nth-child(4) .image-icon {width:39px;height:31px;background: url('../images/icon-home.png') no-repeat center; background-size: cover;}
.our-contacts li:nth-child(5) .image-icon {margin-left: 15px;width:51px;height:51px;background: url('../images/icon-time.png') no-repeat center; background-size: cover;}
.our-contacts li>div {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}
.our-contacts li:nth-child(5) .title {
    margin-left: 10px;
}
.our-contacts li p span {
    font-size: 14px;
}
.our-contacts .left-square, .our-contacts .right-square {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background: #be793e;
    z-index: 1;
    left: -10px;
    bottom: -10px;
    margin: 0;
}
.our-contacts .right-square {
    left: auto;
    bottom: auto;
    top: -10px;
    right: -10px;
}
.on-map {
    display: inline-block;
    vertical-align: middle;
    width: 420px;
    margin: 0 25px;
}
.footer .logo {
    background: url('../images/sprite-logo.png') no-repeat right center;
    background-size: cover;
    margin: 50px auto 15px;
}
.footer .phone-block {
    height: 90px;
}
.footer .phone-number {
    height: 30px;
    line-height: 30px;
    margin: 0 0 15px 0;
    font-size: 36px;
}
.footer .icon-phone {
    width: 40px;
    height: 40px;
    background: url('../images/icon-phone.png') no-repeat center;
    background-size: cover;
}

/* modal window */
.ip-window {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(51, 51, 51 ,0.3);
    display: none;
    z-index: 10;
}
.ip-form {
    position: absolute;
    width: 250px;
    height: 100px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #ffffff;
    text-align: center;
    padding: 0;
    z-index: 10;
    -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 0 10px rgba(255, 255, 255, 0.3);
}
.form-ok-button {
    width: 100px;
    height: 30px;
    margin: 15px auto 0;
    background: #be413e;
    border: 3px solid #ffffff;
    outline: 5px solid #be413e;
    color: #ffffff;
    font-size: 14px;
}
.form-ok .title {
    margin-top: 10px;
    text-align: center;
}

/* media queries */
@media (max-width: 1365px) {
    .block-content {
        padding-left: 2.5%;
        padding-right: 2.5%;
    }
    .header {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }
    .header-top .empty-block {
        width: 4%;
    }
    .logo-block {
        width: 25%;
    }
    .header-top-right {
        width: 71%;
    }
    nav {
        width: 57%;
    }
    .header .phone-block {
        width: 230px;
    }
    h1 {font-size: 36px;line-height: 1.3;}
    h2 {font-size: 30px;}
    h3 {font-size: 24px;}
    .text {font-size: 20px;}
    .header-middle {
        width: 100%;
        padding: 10px 3% 20px;
    }
    .empty-block-left {
        width: 2.5%;
        left: 0!important;
    }
    .empty-block-right {
        width: 2.5%;
        right: 0!important;
    }
    .image-arrow {
        display: none;
    }
    .what-later ul li {
        margin: 0 25px 50px;
    }
    .what-later ul li:nth-child(2), .what-later ul li:nth-child(4) {
        position: static;
    }
    .what-later {
        padding-bottom: 35px;
    }
    .questions {
        text-align: center;
        background: none;
    }
    .questions ol {
        margin: 0 auto;
        text-align: left;
    }
    .reviews {
        padding-left: 0;
        padding-right: 0;
    }
    .on-map {
        margin: 50px 25px;
    }
    .parameters li:nth-child(4):after {display: none;}
    .parameters li:nth-child(4) {margin-right: 10px;}
    .parameters li:nth-child(1) {margin-left: 10px;}
    .services-block>h3 {
        padding-left: 100px;
    }
    .services-block .individual-title {
        padding-left: 200px;
    }
    .our-services {
        margin-left: 100px;
    }
    .our-services-individual {
        margin-left: 200px;
    }
    .our-services li:before, .our-services-individual li:before {
        height: 15px;
        width: 15px;
        left: -20px;
        top: 9px;
    }
}
@media (max-width: 1180px) {
    .parameters li:nth-child(4) {margin-right: 0}
    .parameters li:nth-child(1) {margin-left: 0}
    .reviews .image-reviewer:before {
        display: block;
    }
    .reviews ul li {
        width: auto;
        margin: 25px 0 0 0!important;
        text-align: center!important;
    }
    .reviews ul li:nth-child(2) .image-reviewer {
        float: none;
    }
    .reviews .image-reviewer {
        display: block;
        margin: 0 auto 30px;
    }
    .reviews .image-reviewer:before {
        display: none;
    }
    .reviews .review {
        margin: 0!important;
    }
    .services-block {
        display: block;
        width: 400px;
        margin: 50px auto;
    }
    .services-block>h3 {
        padding-left: 0;
    }
    .services-block .individual-title {
        padding-left: 0;
    }
    .our-services {
        margin-left: 0;
    }
    .our-services-individual {
        margin-left: 0;
    }
}
@media (max-width: 1075px) {
    .parameters li:nth-child(1) {margin-left: 10px;}
    .parameters li:nth-child(3):after {display: none;}
    .parameters li:nth-child(3) {margin-right: 10px;}
    .parameters li:nth-child(4):after {display: block;}
    .parameters li:nth-child(4) {margin-right: 70px;}
}
@media (max-width: 1024px) {
    .logo-block {
        min-width: 65px;
    }
    .header-middle h2 {
        line-height: 1.2;
    }
    .we-organize-block {
        height: auto;
    }
    .cabinet-furniture form {
        height: auto;
    }
    .guarantee ul li, .why-we ul li, .reviews ul li {
        margin-bottom: 50px;
    }
    .questions ol {
        width: 500px;
    }
    .parameters li:nth-child(3) {margin-right: 0}
    .parameters li:nth-child(1) {margin-left: 0}
    .we-organize li:before {
        top: 7px;
    }
}
@media (max-width: 800px) {
    .parameters li {
        margin: 0 25px 50px!important;
    }
    .parameters li:after {
        display: none!important;
    }
}
@media (max-width: 768px) {
    nav {
        display: none;
    }
    .logo-block {
        width: 40%;
    }
    .header-top-right {
        width: 56%;
        text-align: center;
    }
    .header .phone-block {
        text-align: left;
    }
    h1 {
        margin-bottom: 20px;
    }
    .header form {
        display: inline-block;
        float: none;
        margin-right: 0;
    }
    .furniture li {
        margin-bottom: 35px;
    }
    .we-organize-block {
        width: 90%;
    }
    .we-organize li:before {
        left: -30px;
    }
    .reviews .review {
        height: auto;
        width: 90%;
        margin: 0 auto;
        padding: 20px;
        font-size: 18px;
    }
}
@media (max-width: 640px) {
    .parameters li:nth-child(1) {
        margin-left: 0;
    }
    .parameters li:nth-child(3) {
        margin-right: 0;
    }
    .parameters li {
        min-width: 149px;
    }
    .questions ol {
        width: 400px;
    }
    .on-map {
        margin: 50px auto;
    }
    .our-contacts {
        width: 400px;
    }
    .our-contacts li:nth-child(5) .image-icon {margin-left: 0;}
    .our-contacts li>div {
        margin-left: 5px;
    }
    .our-contacts li:nth-child(5) .title {
        margin-left: 0;
    }
    .our-contacts .text-small {font-size: 15px;}
    .our-services, .our-services-individual {
        width: auto;
    }
}
@media (max-width: 480px) {
    .header .empty-block {
        width: 5%;
    }
    .logo-block {
        width: 25%;
        min-width: 75px;
    }
    .header .logo {
        width: 65px;
        background: url('../images/sprite-logo.png') no-repeat 62% center;
        background-size: cover;
    }
    .header-top-right {
        width: 70%;
    }
    h1 {font-size: 30px;line-height: 1.2;}
    h2 {font-size: 24px;line-height: 1.2;}
    h3 {font-size: 18px;line-height: 1.2;}
    .text {font-size: 20px;line-height: 1.2;}
    .header .phone-block {
        width: 200px;
    }
    .header-middle h3 {
        letter-spacing: 0;
    }
    form {
        width: 300px;
    }
    form h3 {
        width: 61%;
        margin: 0;
        text-align: center;
    }
    .form-field::-webkit-input-placeholder {font-size: 18px;}
    .form-field::-moz-placeholder {font-size: 18px;}
    .form-field:-moz-placeholder {font-size: 18px;}
    .form-field:-ms-input-placeholder {font-size: 18px;}
    .form-field {
        padding-left: 15px;
    }
    .button-submit {
        font-size: 20px;
    }
    .parameters li:after {
        display: none;
    }
    .styles li {
        width: 300px;
        height: 225px;
        margin: 0 auto 20px;
    }
    .furniture li {
        margin: 0 auto 35px;
    }
    .we-organize-block {
        width: 300px;
        padding: 25px 0;
    }
    .we-organize-block h2 {
        margin: 10px 0 10px 25px;
        font-size: 22px;
    }
    .we-organize {
        margin: 15px 0;
    }
    .we-organize li {
        margin-left: 25px;
    }
    .we-organize li::before {
        width: 10px;
        height: 10px;
        left: -15px;
        top: 7px;
    }
    .guarantee ul li, .why-we ul li {
        display: block;
        width: 300px;
        margin: 0 auto 50px;
    }
    .why-we ul li:last-child {
        width: 300px;
    }
    .questions ol {
        width: 290px;
    }
    .on-map {
        width: 300px;
    }
    .our-contacts {
        width: 300px;
    }
    .our-contacts .text-small {font-size: 13px;}
    .our-contacts li:nth-child(4) .text-small {margin-left: 45px;}
    .our-contacts li:nth-child(4) .title {margin-left: 0;}
    .services-block {
        width: 250px;
        margin: 50px auto;
    }
    .our-services li:before, .our-services-individual li:before {
        width: 10px;
        height: 10px;
        top: 7px;
    }
    form h3 {width:90%!important;font-size: 20px!important;}
}